@import './utils/variables';
@import './components/common';
@import './components/logo';
@import './components/social-networks';
@import './components/page-header';
@import './components/page-footer';
@import './components/section-hero';
@import './components/section-advantages';
@import './components/section-case';
@import './components/section-team';
@import './components/section-clients';
@import './components/section-portfolio';
@import './components/modal';
@import './utils/utilites';
