body {
  font-family: var(--main-font-name), var(--main-font-family);
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--main-txt-color);
  background-color: var(--main-bg-color);
}

img {
  display: block;
  max-height: 100%;
}

*:focus {
  outline-width: 1px;
  outline-style: dotted;
  outline-color: var(--accent-color);
}

.section {
  padding: 60px 0;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.container {
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 480px) {
    max-width: 480px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}
