.logo {
  font-family: var(--secondary-font-name), var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  text-decoration: none;
}

.logo__studio--black {
  color: #000;
}

.logo__studio--white {
  color: #fff;
}

