.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: var(--main-bg-color);
  transform: translateX(100%);
  transition: transform var(--delay) var(--time-function);
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.mobile-menu__closeMenu-button {
  position: absolute;
  top: 0;
  right: 0;
  translate: -15px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color var(--delay) var(--time-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.closeMenu-button__icon {
  fill: currentColor;
}

.navigation__list--mobile-menu {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation__item--mobile-menu {
  margin-left: 0;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--main-txt-color);

  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.navigation__link--mobile-menu {
  color: currentColor;
  text-decoration: none;
  transition: color var(--delay) var(--time-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.communication--mobile-menu {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.communication__item--mobile-menu {
  display: flex;
  justify-content: start;
  font-weight: 500;
  letter-spacing: 0.02em;

  &:not(:first-child) {
    margin-top: 32px;
  }

  &:last-child {
    margin-top: 64px;
  }

  &:nth-child(1) {
    font-size: 34px;
    line-height: 1.176;
    color: var(--accent-color);
  }

  &:nth-child(2) {
    font-size: 24px;
    line-height: 1.167;
    color: var(--secondary-txt-color);
  }
}

.communication__link--mobile-menu {
  color: currentcolor;
  text-decoration: none;
}

.social-networks__item--mobile-menu {
  &:not(:first-child) {
    padding-left: 10px;
    border-left: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.social-networks__link--mobile-menu {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
}
