.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-bg-color);
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: wrap;
    justify-content: start;
  }
}

.sign-container--mobile {
  @media screen and (max-width: 1199px) {
    margin-top: 60px;
  }
}

.join-offer--mobile {
  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }
}

.address-container {
  text-align: center;

  @media screen and (min-width: 1200px) {
    margin-right: 85px;
    text-align: start;
  }
}

.page-footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: start;
  }
  color: var(--current-txt-color);
}

.address__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.address__item {
  margin-top: 8px;

  @media screen and (min-width: 1200px) {
    margin-top: 9px;
  }
}

.address__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--third-txt-color);
  text-decoration: none;
  transition: color var(--delay) var(--time-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.join-offer {
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.join-offer__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: start;
  }
  text-transform: uppercase;
  color: var(--current-txt-color);
}

.social-networks__link--join-offer {
  @extend %social-networks-link;

  color: var(--current-txt-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--delay) var(--time-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }

  &:focus {
    outline: none;
  }
}

.sign-container {
  @media screen and (max-width: 1199px) {
    width: 100%;
  }
}

.sign-container__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: start;
  }

  text-transform: uppercase;
  color: var(--current-txt-color);
}

.sign-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.sign-form__email {
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
  }

  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--current-txt-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border-color var(--delay) var(--time-function);

  &::placeholder {
    color: var(--third-txt-color);
  }

  &:hover {
    border-color: var(--accent-color);
  }
}

.sign-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 0;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875px;
  letter-spacing: 0.06em;
  color: var(--current-txt-color);
  background-color: var(--current-bg-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: box-shadow var(--delay) var(--time-function);

  @media screen and (min-width: 1200px) {
    margin-top: 0;
    margin-left: 12px;
  }

  &:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.sign-button__icon {
  margin-left: 10px;
  fill: currentcolor;
}
