.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  display: flex;
  padding-top: 0;
  padding-bottom: 0;
  align-items: center;
}

.page-header__logo {
  margin-top: 24px;
  margin-bottom: 25px;
}

.navigation__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 93px;
  width: 100%;
}

.navigation__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation__item:not(:first-child) {
  margin-left: 50px;
}

.navigation__link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-txt-color);
  text-decoration: none;
  transition: color var(--delay) var(--time-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.navigation__link--current {
  position: relative;
  color: var(--accent-color);

  &::after {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(calc(100% + 28px));
    display: block;
    width: 100%;
    height: 4px;
    content: '';
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}

.communication {
  display: flex;
  margin: 0 0 0 auto;
  padding: 0;
  list-style: none;
}

.communication__item:not(:first-child) {
  margin-left: 30px;
}

.communication__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-txt-color);
  text-decoration: none;
  transition: color var(--delay) var(--time-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.communication__icon {
  margin-right: 10px;
  fill: currentColor;
}
