.section-hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/img-bg-hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section-hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.section-hero__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--current-txt-color);
  text-align: center;
  background-color: var(--current-bg-color);
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}