
.clients__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.clients {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style: none;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 90px;
  color: #afb1b8;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  transition: color var(--delay) var(--time-function),
    border-color var(--delay) var(--time-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
    border-color: var(--accent-color); 
  }

  &:focus {
    outline: none;   
  }
}

.clients__icon {
  fill: currentColor;
}

