.section-team {
  background-color: var(--third-bg-color);
}

.section-team__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.179;
  letter-spacing: 0.03em;
  text-align: center;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.167;
  }
}

.personal-cards {
  --person-set-gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--person-set-gap));
    margin-left: calc(-1 * var(--person-set-gap));
  }
}

.personal-cards__item {
  &:not(:first-child) {
    margin-top: var(--person-set-gap);
  }

  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 2 * var(--person-set-gap)) / 2);
    margin-top: var(--person-set-gap);
    margin-left: var(--person-set-gap);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 4 * var(--person-set-gap)) / 4);
  }
}

.personal-cards__thumb {
  @media screen and(min-width:768px) {
    height: 374px;
  }
  @media screen and(min-width:1200px) {
    height: 260px;
  }
}

.personal-cards__photo {
  object-fit: cover;
}

.personal-cards__info {
  padding: 30px 6px 24px 6px;

  @media screen and (min-width: 1200) {
    padding: 30px 6px;
  }
}

.personal-cards__name {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.personal-cards__position {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-txt-color);
  text-align: center;
}

.social-networks__link--personal-cards {
  @extend %social-networks-link;

  color: #afb1b8;
  background-color: transparent;
  transition: background-color var(--delay) var(--time-function),
    color var(--delay) var(--time-function);

  &:hover,
  &:focus {
    color: var(--current-txt-color);
    background-color: var(--accent-color);
  }

  &:focus {
    outline: none;
  }
}
