:root {
  
  /* Набор основной цветовой гаммы фона и текста */
  --accent-color: #2196f3;
  --current-bg-color: #2196f3;
  --current-txt-color: #fff;
  --main-txt-color: #212121;
  --secondary-txt-color: #757575;
  --third-txt-color: rgba(255, 255, 255, 0.6);
  --main-bg-color: #fff;
  --secondary-bg-color: #2f303a;
  --third-bg-color: #f5f4fa;

  /* Имена и семейство используемых шрифтов */
  --main-font-name: 'Roboto';
  --main-font-family: sans-serif;
  --secondary-font-name: 'Raleway';
  --secondary-font-family: sans-serif;

  /* Параметры для использования трансфомации */
  --delay: 250ms;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}
